.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.left{
  height:100px;
  width: 33%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appHeader {
  background-color: #282c34;
  color: white;
  height: 20%;
}



.App-link {
  color: #09d3ac;
}
.Footer{
  text-align: left;
}


.app{
  height: 100%;
}